# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/
env/
venv/

# Environment variables
*.env
.env.local

# Logs
*.log
logs/

# IDEs and editors
.vscode/
.idea/
*.swp

# Byte-compiled C extensions
*.so

*.sqlite3

# Pytest
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Coverage reports
htmlcov/
*.coverage
.coverage.*
.cache

# MyPy
.mypy_cache/

# Docker
*.pid
docker-compose.override.yml

# Flask specific
instance/
*.bak
*.old

# Black formatter
*.orig
